<!DOCTYPE html>
<html>

<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script>
$.get("https://www.googleapis.com/customsearch/v1?key=AIzaSyC6eIrszJ7mEEmJDvJRtaxm3sAahpuCif0&cx=014651292311375850169:emak_chlc6w&q=cat&searchType=image", function(data){
console.log(data)
});

</script>
-->
  
   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>IMAGE SEARCH API</h1>
         <h3>Free Code Camp Backend Challenges</h3>
        <h4>
          INSTRUCTIONS
        </h4>
        <p>
          Complete the following query with the term you want to search, and the results page number you want to look over:
        <br><br>
          <span class="link">https://image-seeker01.glitch.me/search/..your term../..page number..</span>
        <br><br>
          IMPORTANT: write a page number is a must!
        </p>
        
        <h4>
          EXAMPLE:
        </h4>
        <p>
          <span class="link">https://image-seeker01.glitch.me/search/funny cat/10</span>
        <br>
          (return images of funny cats and display page 10 results)
        </p>
        
         <h4>
          SEARCH HISTORY:
        </h4>
        <p>
          You can also check out what other people has been looking for. Just Hit:
        <br><br>
          <span class="link">https://image-seeker01.glitch.me/history</span>
        </p>
        
      </div>
   </body>

</html>
